.board-container {
    justify-content: center;
    height: 300px;
    width: 366px;
    margin-left: -2%;
}

.main {
    display: flex;
   padding: 10px;
  }
  
  .left-div {
    background-color: #dcdcdc;
    padding: 10px;
    width: 48%;
    height: 30px;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .right-div {
    background-color: white;
    padding: 10px;
    width: 48%;
    height: 30px;
    border-radius: 10px;
  }

  .screens-div{
    justify-content: center;
    background-color: white;
    height: 180px;
    width: 340px;
    margin-left: 14px;
    margin-top: -10px;
  }

  .attach-button {
    width: 80px;
    height: 25px;
    border: none;
    background-color: #0075ad;
    border-radius: 5px;
    margin-left: 10px;
  }

  h6{
    padding-top: 4px;
    color: white;
  }

  .left-div h5{
    padding-top: -150px;
  }