#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 10rem;
  /* background-image: url("./assets/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom right; */
}
button {
  border-radius: 100px !important;
  padding: 16px !important;
  text-align: "center";
}
