#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom: 10rem;
}
button {
  border-radius: 100px !important;
  padding: 16px !important;
  text-align: center;
}